:root{
  --HSL_enabled: 1
}
/*=============================================
=            ServerRings + HSL            =
=============================================*/
#app-mount .listItem_c96c45, 
#app-mount .tutorialContainer_c96c45,
#app-mount [id*="folder-items-"],
#app-mount .wrapper_bc7085:not(:has(.collapsed_bc7085)){
  width: fit-content!important;
  margin: 0 16px 0 0!important;
}
#app-mount .tutorialContainer_c96c45,
#app-mount .tutorialContainer_f9623d{
  width: 48px!important;
} 

#app-mount .listItem_c96c45:has(.guildSeparator_d0c57e){
  height: 32px!important;
  width: fit-content!important;
  margin: 8px 8px 0 !important;
}
#app-mount .guildSeparator_d0c57e{
  width: 2px!important;
  height: 32px!important;
}



.listItem_c96c45:has(.guildSeparator_d0c57e) {
  width: 20px;
}  
/*=====  End of Section ServerRings + HSL  ======*/








/*=====  End of Section FriendList + MD  ======*/


/* MD + HSL*/
.guilds_a4d4d9{
	position: absolute!important;
	width: calc(100% - var(--outlineMG) * 2 )!important;
	left: 0!important;
}


/*=============================================
=              FVUI compatibility            =
/*==========================================*/
.tree_fea3ef {
  width: 100%!important;
}
.listItem_c96c45{
  left: 0!important;
  position: relative;
}
/*=====  End of Section FVUI compatibility  ======*/






/*=============================================
=                     HSL                    =
=============================================*/
[data-list-id="guildsnav"]>.scroller_fea3ef{
  padding-top:15px;
}
.guilds_a4d4d9 .scroller_fea3ef {
  overflow: auto hidden !important;
}

.listItem_c96c45 + [aria-label] {
  display: flex;
}

/*----------  Position  ----------*/

.guilds_a4d4d9 {
  position: absolute;
  z-index: +1;
  height: 72px;
  width: 100vw;
}

/* .container_d1c246,
.container_c2739c,
.applicationStore_cecc86,
.containerSidenav_d576e9{
  margin: var(--HSL);
} */

.base_a4d4d9{
	margin-bottom: calc(72px * var(--HSL_bottom_enabled_MD));
	margin-top: calc(72px * var(--HSL_top_enabled_MD)) 
}

.scroller_fea3ef > .listItem_c96c45 + [aria-label] {
  display: flex;
}
[id*="folder-items-"],
.wrapper_bc7085 {
  display: flex;
  width: fit-content !important;
}

/*----------  SL  ----------*/
.guilds_a4d4d9 .scroller_fea3ef {
  overflow: auto hidden !important;
  padding: 10px;
}

.listItem_c96c45, /* ! */
.tutorialContainer_c96c45,
.tutorialContainer_c96c45+.listItem_c96c45 {
  width: 48px;
  height: 48px;
  margin-bottom: 0;
}
.listItem_c96c45 { /* ! */
  flex-direction: column;
  margin-left: 8px;

}
/*----------  other  ----------*/
.expandedFolderBackground_bc7085 {
  width: calc(100% - 8px);
  height: 48px;
  top: 0;
  left: 8px;
}
.childWrapper_a6ce15.acronym_fb7739{
  border-radius: 100%;
}
/* .tutorialContainer_f9623d+.listItem_c96c45{
  display: flex;
  flex-direction: column;
} */

/*=====  End of Section HSL  ======*/

/* SL buttons*/
.tree_fea3ef>.scroller_fea3ef{
  grid-template-areas: "homebutton buttons divider list"!important;
  grid-template-columns: 48px 48px 30px auto!important;
  grid-template-rows: auto!important
}
.tutorialContainer_c96c45{
  align-self: center;
  top: 6px!important;

  justify-self: unset!important;
  margin-left: unset!important;
}

.tutorialContainer_c96c45+.listItem_c96c45{
  grid-area: buttons;
  top: -6px!important;

  justify-self: unset!important;
  margin-right: unset!important;
}
