@import url(https://feorev.github.io/Themes/Discord/FVUI/Addons/HSL/HSL.css);

:root{
  --HSL: 72px 0 0 0;
}
:root{
  --HSL_top_enabled: 1!important;
  --HSL_top_enabled_MD: 1!important;

  --HSL_bottom_enabled: 1!important;
  --HSL_bottom_enabled_MD: 0!important;
}
.guilds__2b93a {
  top: 0;
  right: 0;
}
