/**
* @name !ModularDesign
* @author ٴFeoreVٴ#3377
* @description ModularDesign
* @version  DEV
* @authorId 489785940546551831
*/



/*=============================================
=                 ModularDesign               =
=============================================*/

/*----------  Root  ----------*/

:root{ /* MainModules */
	--outline: 3px;
	--outlineCLR: var(--color3);
	--outlineBR: 16px;
	--outlineMG: 2rem!important;
	--outlineBS: 15px;
	--outlineBG: unset;
	--outlineBLUR: 0;
}

:root{ /* AdditionalModules */
	--outline2: 0;
	--outlineCLR2: var(--outlineCLR);
	--outlineBR2: var(--outlineBR);
	--outlineMG2: var(--outlineMG);
	--outlineBS2: 0;
	--outlineBG2: unset;
	--outlineBLUR2: 0;
}

:root{ /* Internal values */
  --bottomMG: var(--outlineMG)!important;

  --HSL_top_enabled:0;
  --HSL_bottom_enabled:0;
  
  --HSL_top_enabled_MD:1;
  --HSL_bottom_enabled_MD:1;
  
  --HSL_10px:10px;
}
:root{ /* Internal values */
	--outline_e: var(--outline);
	--outlineCLR_e: var(--outlineCLR);
	--outlineBR_e: var(--outlineBR);
	--outlineMG_e: var(--outlineMG);
	--outlineBS_e: var(--outlineBS);
	--outlineBG_e: var(--outlineBG);
	--outlineBLUR_e: var(--outlineBLUR);
}
:root{
	--outlineMGFL: calc(var(--outlineMG) + 10px)!important; /* friendlist */
}
/*----------  General - Main  ----------*/

.guilds__2b93a, /* guilds */ 
.sidebar_e031be, /* list */
.container_bd15da, /* friendlist */
.chat__52833, /* chat */
.applicationStore__444b9, /* applicationStore */
.shop_b31ed2, /* shop */
.layer_f7d46a > .standardSidebarView__12528>:is(.sidebarRegion__36437,.contentRegion__08eba) /* settings */
{
	color: rgb(var(--outlineCLR, var(--color03)));
	outline: var(--outline) solid currentcolor;
	border-radius: var(--outlineBR)!important;
	margin: calc(var(--outlineMG) * var(--HSL_top_enabled_MD)) 0 calc(var(--outlineMG) * var(--HSL_bottom_enabled_MD)) var(--outlineMG);
	box-shadow: 0 0 var(--outlineBS) rgb(var(--outlineCLR, var(--color03)));
	background: rgb(var(--outlineBG));
	position: relative;
}

:is(
.guilds__2b93a, /* guilds */ 
.sidebar_e031be, /* list */
.container_bd15da, /* friendlist */
.chat__52833, /* chat */
.applicationStore__444b9, /* applicationStore */
.shop_b31ed2, /* shop */
.layer_f7d46a > .standardSidebarView__12528>:is(.sidebarRegion__36437,.contentRegion__08eba) /* settings */
)::before
{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;

	border-radius: var(--outlineBR)!important;
	
	backdrop-filter: var(--outlineBLUR);
}

.chat__52833,
.applicationStore__444b9,
.container_bd15da,
.contentRegion__08eba,
.shop_b31ed2{
	margin-right: var(--outlineMG)!important
}

.base_c0676e{ /* HSL fix */
	margin: calc(var(--outlineMG) * var(--HSL_top_enabled)) 0 calc(var(--outlineMG) * var(--HSL_bottom_enabled)) 0;
}

.shop_b31ed2{
	height: calc(100% - var(--outlineMG) * 2);
}
.shopScroll_caa423 {
	max-height: calc(100% - var(--outlineMG) * 2);
}

/*----------  General - Additional  ----------*/

.peopleColumn__0c784,
.nowPlayingColumn_b025fe,
.profilePanel_e2cafe,
.container_f79ab4 .members__573eb {
	outline: calc(var(--outline2)/1.5) solid rgb(var(--outlineCLR), var(--color3));
	border-radius: var(--outlineBR2);
	margin: calc(var(--outlineMG2)/2);
	box-shadow: 0 0 var(--outlineBS2) rgb(var(--outlineCLR), var(--color3));
}
.peopleColumn__0c784,
.nowPlayingColumn_b025fe .scroller__7c25e,
.profilePanel_e2cafe .none_ff9f86,
.chat__52833 .container_f79ab4{
	background: rgb(var(--outlineBG2))!important;
	border-radius: 16px;
}
/*=====  End of Section ModularDesign  ======*/

/* .guilds__2b93a{
	top:var(--topMG)!important
} */
