:root{
	--outlineMGFL: calc(var(--outlineMG) + 10px)!important; /* friendlist */
}
	/*ModularDesign*/

:root{ /*MainModules*/
	--outline: 3px; /*outline size*/
	--outlineCLR: var(--color03); /*outline color*/
	--outlineBR: 16px; /*outline border-radius (rounding)*/
	--outlineMG: 2rem!important; /*outline margin*/
	--outlineBS: 15px; /*outline glow (size/color)*/
	--outlineBG: unset;  /*outline content background color*/
	--outlineBLUR: 0; /*backdrop blur (ONLY WIN11)*/ /* Value: blur(8px) - enabled / none - disables (Don't use blur(0) to disable) */
}

:root{ /*AdditionalModules*/
	--outline2: 0; /*outline size*/
	--outlineCLR2: var(--outlineCLR); /*outline color*/
	--outlineBR2: var(--outlineBR); /*outline border-radius (rounding)*/
	--outlineMG2: var(--outlineMG); /*outline margin*/
	--outlineBS2: 0; /*outline glow (size/color)*/
	--outlineBG2: unset; /*outline content background color*/
	--outlineBLUR2: 0 /*backdrop blur (Not recommended)*/ /* Value: blur(8px) - enabled / none - disables (Don't use blur(0) to disable) */
}
:root{
  --bottomMG: var(--outlineMG)!important;

  --HSL_top_enabled:0;
  --HSL_bottom_enabled:0;
  
  --HSL_top_enabled_MD:1;
  --HSL_bottom_enabled_MD:1;
  
  --HSL_10px:10px;
}
:root{ /*MainModules*/
	--outline_e: var(--outline);
	--outlineCLR_e: var(--outlineCLR);
	--outlineBR_e: var(--outlineBR);
	--outlineMG_e: var(--outlineMG);
	--outlineBS_e: var(--outlineBS);
	--outlineBG_e: var(--outlineBG);
	--outlineBLUR_e: var(--outlineBLUR);
}


.guilds__2b93a, /*guilds*/ 
.sidebar_e031be, /*list*/
.container_bd15da,
.chat__52833,
/*settings*/
.layer_f7d46a >.standardSidebarView__12528>:is(.sidebarRegion__36437,.contentRegion__08eba)
{
	color: rgb(var(--outlineCLR, var(--color03)));
	outline: var(--outline) solid currentcolor;
	border-radius: var(--outlineBR)!important;
	margin: calc(var(--outlineMG) * var(--HSL_top_enabled_MD)) 0 calc(var(--outlineMG) * var(--HSL_bottom_enabled_MD)) var(--outlineMG);
	box-shadow: 0 0 var(--outlineBS) rgb(var(--outlineCLR), var(--color3));
	background: rgb(var(--outlineBG));
}








.base_c0676e{
	margin: calc(var(--outlineMG) * var(--HSL_top_enabled)) 0 calc(var(--outlineMG) * var(--HSL_bottom_enabled)) 0;
}


.peopleColumn__0c784,
.nowPlayingColumn_b025fe .scroller__7c25e,
.profilePanel_e2cafe .none_ff9f86,
.chat__52833 .container_f79ab4{
	background: rgb(var(--outlineBG2))!important;
	border-radius: 16px;

}

.peopleColumn__0c784,
.nowPlayingColumn_b025fe,
.profilePanel_e2cafe,
.container_f79ab4 .members__573eb {
	outline: calc(var(--outline2)/1.5) solid rgb(var(--outlineCLR), var(--color3));
	border-radius: var(--outlineBR2);
	margin: calc(var(--outlineMG2)/2);
	box-shadow: 0 0 var(--outlineBS2) rgb(var(--outlineCLR), var(--color3));
}





.chat__52833,
.applicationStore__444b9,
.container_bd15da,
.contentRegion__08eba{
	margin-right: var(--outlineMG)
}


.guilds__2b93a{
	top:var(--topMG)!important
}
