/**
* @name !ModularDesign
* @author ٴFeoreVٴ#3377
* @description ModularDesign
* @version  DEV
* @authorId 489785940546551831
*/



/*=============================================
=                 ModularDesign               =
=============================================*/

/*----------  Root  ----------*/

:root{ /* MainModules */
	--outline: 3px;
	--outlineCLR: var(--color3);
	--outlineBR: 16px;
	--outlineMG: 2rem;
	--outlineBS: 15px;
	--outlineBG: unset;
	--outlineBLUR: 0;
}

:root{ /* Internal values */
  --bottomMG: var(--outlineMG)!important;

  --HSL_top_enabled_MD:0;
  --HSL_bottom_enabled_MD:0;
  
  --MD_enabled: 1;

  --HSL_10px:10px;
}
:root #app-mount{ /* Internal values */
	--outline_e: var(--outline);
	--outlineCLR_e: var(--outlineCLR);
	--outlineBR_e: var(--outlineBR);
	--outlineMG_e: var(--outlineMG);
	--outlineBS_e: var(--outlineBS);
	--outlineBG_e: var(--outlineBG);
	--outlineBLUR_e: var(--outlineBLUR);
}
:root{
	--outlineMGFL: calc(var(--outlineMG) + 10px)!important; /* friendlist */
}
/*----------  General - Main  ----------*/

#app-mount .container_ee69e0{
	background: transparent; /* !!! */
}

.guilds_a4d4d9, /* guilds */ 
.sidebar_a4d4d9, /* list */
.container_c2739c, /* friendlist */
.chat_a7d72e, /* chat */
.applicationStore_cecc86, /* applicationStore */
.shop_e77fa3, /* shop */
.layer_d4b6c5 > .standardSidebarView_c25c6d>:is(.sidebarRegion_c25c6d,.contentRegion_c25c6d) /* settings */
{
	color: var(--outlineCLR_MUI, rgb(var(--outlineCLR)));
	outline: var(--outline) solid currentcolor;
	border-radius: var(--outlineBR)!important;
	margin: calc(var(--outlineMG)) 0 calc(var(--outlineMG)) var(--outlineMG);
	box-shadow: 0 0 var(--outlineBS) currentcolor;
	background: rgb(var(--outlineBG))!important;
	position: relative;
}




:is(
.guilds_a4d4d9, /* guilds */ 
.sidebar_a4d4d9, /* list */
.container_c2739c, /* friendlist */
.chat_a7d72e, /* chat */
.applicationStore_cecc86, /* applicationStore */
.shop_e77fa3, /* shop */
.layer_d4b6c5 > .standardSidebarView_c25c6d>:is(.sidebarRegion_c25c6d,.contentRegion_c25c6d) /* settings */
)::before
{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;

	border-radius: var(--outlineBR)!important;
	
	backdrop-filter: var(--outlineBLUR);
}

.chat_a7d72e,
.applicationStore_cecc86,
.container_c2739c,
.contentRegion_c25c6d,
.shop_e77fa3{
	margin-right: var(--outlineMG)!important
}

.base_a4d4d9{ /* HSL fix */
	margin: calc(var(--outlineMG) * var(--HSL_top_enabled_MD) * 3 ) 0 calc(var(--outlineMG) * var(--HSL_bottom_enabled_MD) * 3 ) 0!important;
}

.shop_e77fa3{
	height: calc(100% - var(--outlineMG) * 2);
}
.shopScroll_e77fa3 {
	max-height: calc(100% - var(--outlineMG) * 2);
}

/*----------  General - Additional  ----------*/

/*=====  End of Section ModularDesign  ======*/



