
/*=============================================
=                  ServerRings                =
=============================================*/
[data-list-id="guildsnav"]>.scroller_de945b.none_ff9f86.scrollerBase__65223{
  padding-top: 30px;
}
/*----------  Variables  ----------*/
:root{
  --server-color: rgb(255, 255, 255);
  --server-color-mention:rgb(255, 255, 255);
  --server-color-selected:rgb(0, 231, 169);
  --server-margin: 20px
}

/*----------  Pills  ----------*/
.listItem__48528>.pill__13f64,
.listItem__48528>.wrapper_b4903b{
  display: none
}

.listItem__48528::before{ /* general */
  position: absolute;
  content: "";
  width: 48px;  
  height: 48px;
  border-radius: 100%;

  color:var(--server-color);

  padding:5px;
  margin:-5px;

  opacity: 0;

  outline: 3px solid currentcolor;
	box-shadow: 0 0 20px currentcolor;

  transition: opacity .3s;
  animation: server-color-anim 5s forwards;


  z-index: +55;
  pointer-events: none;
  overflow: visible!important;
}






/* default */
.listItem__48528, 
#app-mount .wrapper__832f2:not(:has(.collapsed__98ad5)),
[id*="folder-items-"]{ 
  width: 100%!important;
  height: fit-content!important;
  margin: 0 0 var(--server-margin) 0!important;
}
.tree__7a511>.scroller_de945b.none__7a473.scrollerBase_f742b2{
  padding-right: 0!important;
} 

/* HSL */
/* #app-mount .listItem__48528, 
#app-mount .tutorialContainer__6835f,
#app-mount [id*="folder-items-"],
#app-mount .wrapper__832f2:not(:has(.collapsed__98ad5)){
  width: fit-content!important;
  margin: 0 16px 0 0!important;
} */

/*----------  Definition of rings  ----------*/
.listItem__48528:not(:has(>.guildSeparator__75928)):hover::before { /* hover */
  color:var(--server-color)!important;
  opacity:1!important;
}
/* .listItem__48528:has(>.wrapper_b4903b>.item_f9d377[style*="transform: none;"])::before {
  color:var(--server-color)!important;
  opacity:1!important;
} */

.listItem__48528:has(>.wrapper_b4903b>.item_f9d377[style="opacity: 1; height: 8px; transform: none;"])::before { /* unread */
  color:var(--server-color)!important;
  opacity:1!important;
}
.listItem__48528:has(.lowerBadge_e89e22)::before{ /* mention */
  color:var(--server-color-mention);
  opacity:1;
}

.listItem__48528:has(>.wrapper_b4903b>.item_f9d377[style*="height: 40"])::before { /* selected */
  color:var(--server-color-selected)!important;
  opacity:1;
} 

/*---------- OnClick  ----------*/
.blobContainer_c44493,
.listItemWrapper__3d465 {
  transition: .3s transform;
}
.blobContainer_c44493:active,
.listItemWrapper__3d465:active {
  transform: scale(.9);
}

/*----------  Other  ----------*/

/* default separator */
.listItem__48528:has(.guildSeparator__75928){
  height: fit-content;
  width: 100%!important;
  margin: 0 0 var(--server-margin) 0!important;
}

/* HSL separator */
/* #app-mount .listItem__48528:has(.guildSeparator__75928){
  height: fit-content!important;
  width: fit-content!important;
  margin: 0 var(--server-margin) 0 0!important;
} */



 /* notify mask  */
/* .svg__34dd4>foreignObject{
  mask:none
} */

/* .scroller_de945b {
  overflow: visible scroll !important;
} */
.tree__7a511 {
  width: 200%;
}

.listItem__48528{
  left: -25%;
  position: relative;
}
.expandedFolderBackground_b1385f.collapsed__98ad5+.listItem__48528{
  left: 0;
}

.guilds__2b93a {
  overflow: visible;
  z-index: 1;
}


.channel__0aef5.container__3792d{
  z-index: 2;
}
/*=====  End of Section ServerRings  ======*/
