
/*=============================================
=                  ServerRings                =
=============================================*/

/*----------  Variables  ----------*/
:root{
  --server-color: rgb(255, 255, 255);
  --server-color-mention:rgb(255, 255, 255);
  --server-color-selected:rgb(0, 231, 169);
  --server-margin: 20px
}

/*----------  Pills  ----------*/
.listItem_c96c45>.pill_db6521,
.listItem_c96c45>.wrapper_fd07a3{
  display: none
}

.listItem_c96c45::before{ /* general */
  position: absolute;
  content: "";
  width: 48px;  
  height: 48px;
  border-radius: 100%;

  color:var(--server-color);

  padding:5px;
  margin:-5px;

  opacity: 0;

  outline: 3px solid currentcolor;
	box-shadow: 0 0 20px currentcolor;

  transition: opacity .3s;
  animation: server-color-anim 5s forwards;


  z-index: +55;
  pointer-events: none;
  overflow: visible!important;
}






/* default */
.listItem_c96c45, 
#app-mount .wrapper_bc7085:not(:has(.collapsed_bc7085)),
[id*="folder-items-"]{ 
  width: 100%!important;
  height: fit-content!important;
  margin: 0 0 var(--server-margin) 0!important;
}
.tree_fea3ef>.scroller_fea3ef.none_eed6a8.scrollerBase_eed6a8{
  padding-right: 0!important;
} 

/* HSL */
/* #app-mount .listItem_c96c45, 
#app-mount .tutorialContainer_c96c45,
#app-mount [id*="folder-items-"],
#app-mount .wrapper_bc7085:not(:has(.collapsed_bc7085)){
  width: fit-content!important;
  margin: 0 16px 0 0!important;
} */

/*----------  Definition of rings  ----------*/
.listItem_c96c45:not(:has(>.guildSeparator_d0c57e)):hover::before { /* hover */
  color:var(--server-color)!important;
  opacity:1!important;
}
/* .listItem_c96c45:has(>.wrapper_fd07a3>.item_fd07a3[style*="transform: none;"])::before {
  color:var(--server-color)!important;
  opacity:1!important;
} */

.listItem_c96c45:has(>.wrapper_fd07a3>.item_fd07a3[style="opacity: 1; height: 8px; transform: none;"])::before { /* unread */
  color:var(--server-color)!important;
  opacity:1!important;
}
.listItem_c96c45:has(.lowerBadge_c5f96a)::before{ /* mention */
  color:var(--server-color-mention);
  opacity:1;
}

.listItem_c96c45:has(>.wrapper_fd07a3>.item_fd07a3[style*="height: 40"])::before { /* selected */
  color:var(--server-color-selected)!important;
  opacity:1;
} 

/*---------- OnClick  ----------*/
.blobContainer_a5ad63,
.listItemWrapper_dfb2f8 {
  transition: .3s transform;
}
.blobContainer_a5ad63:active,
.listItemWrapper_dfb2f8:active {
  transform: scale(.9);
}

/*----------  Other  ----------*/

/* default separator */
.listItem_c96c45:has(.guildSeparator_d0c57e){
  height: fit-content;
  width: 100%!important;
  margin: 0 0 var(--server-margin) 0!important;
}

/* HSL separator */
/* #app-mount .listItem_c96c45:has(.guildSeparator_d0c57e){
  height: fit-content!important;
  width: fit-content!important;
  margin: 0 var(--server-margin) 0 0!important;
} */



 /* notify mask  */
/* .svg_c5f96a>foreignObject{
  mask:none
} */

/* .scroller_fea3ef {
  overflow: visible scroll !important;
} */
.tree_fea3ef {
  width: 200%;
}

.listItem_c96c45{
  left: -25%;
  position: relative;
}
.expandedFolderBackground_bc7085.collapsed_bc7085+.listItem_c96c45{
  left: 0;
}

.guilds_a4d4d9 {
  overflow: visible;
  z-index: 1;
}


.channel_c91bad.container_b15955{
  z-index: 2;
}
/*=====  End of Section ServerRings  ======*/
