
/*=============================================
=              FVUI compatibility            =
=============================================*/
.sidebar_c48ade>.container__2637a,
.sidebar_c48ade>.privateChannels__35e86{
  margin-bottom: 0!important;
} 
.container__2637a .content__99f8c::before {
  height: 15vh!important;
}
.sidebar_c48ade .scroller__629e4 {
  margin-top: -10vh;
}

.inner_e131a9{display: none;}
/*=====  End of Section FVUI compatibility  ======*/

/*=============================================
=                      TUP                    =
=============================================*/


#app-mount .panels_c48ade{
  order: -1;
  padding-top: 1px;
  margin-top: 10px;
  position: sticky;
  z-index: 999;
}


#app-mount .searchBar__35e86,
#app-mount .container_f37cb1 {
  order:10;
  position: absolute;
  bottom: 0!important;
}

.sidebar_c48ade>.container__2637a,
.sidebar_c48ade>.privateChannels__35e86{
  margin-top: -9vh!important;
} 
.sidebar_c48ade .content__99f8c{
  margin-top: 4.5vh
}

.animatedContainer_f37cb1,
.content__99f8c>div[aria-hidden="true"][style="height: 84px;"]
{display: none}

/*=====  End of Section TUP  ======*/
