/*=============================================
=              FVUI compatibility            =
=============================================*/
.sidebar_ded4b5>:is(.container__590e2,.privateChannels__93473){
  margin-bottom: 0!important;
} 



#app-mount .searchBar_e4ea2a{
  position: relative;
  backdrop-filter: none;
}

.inner_ab95dc{display: none;}
/*=====  End of Section FVUI compatibility  ======*/

/*=============================================
=                      TUP                    =
=============================================*/


#app-mount .panels__58331{
  order: -1;
  padding-top: 1px;
  position: absolute!important;
  width: 235px;
  top: 10px;
  height: fit-content;
}


.searchBar__621ec,
.container_f41675{
  order:10;
  position: relative;
  top: unset!important;
  bottom: 12vh!important;
  z-index: 999;
}



.sidebar_e031be .content__690c5{
  margin-top: 5.5vh;
}
.sidebar_e031be .content__690c5::after{
  position: relative;
  display: block;
  content: "";
  width: 100%;
  height: 180px;
}
.animatedContainer__0e828{
  display: none
}

.content__690c5>[style="height: 84px;"]{
  display: none;
}

/*=====  End of Section TUP  ======*/
