
/*=============================================
=              FVUI compatibility            =
=============================================*/
.sidebar_a4d4d9>.container_ee69e0,
.sidebar_a4d4d9>.privateChannels_f0963d{
  margin-bottom: 0!important;
} 
.container_ee69e0 .content_eed6a8::before {
  height: 15vh!important;
}
.sidebar_a4d4d9 .scroller_c43953 {
  margin-top: -10vh;
}

.inner_adcaac{display: none;}
/*=====  End of Section FVUI compatibility  ======*/

/*=============================================
=                      TUP                    =
=============================================*/


#app-mount .panels_a4d4d9{
  order: -1;
  padding-top: 1px;
  margin-top: 10px;
  position: sticky;
  z-index: 999;
}


#app-mount .searchBar_f0963d,
#app-mount .container_fd6364 {
  order:10;
  position: absolute;
  bottom: 0!important;
}

.sidebar_a4d4d9>.container_ee69e0,
.sidebar_a4d4d9>.privateChannels_f0963d{
  margin-top: -9vh!important;
} 
.sidebar_a4d4d9 .content_eed6a8{
  margin-top: 4.5vh
}

.animatedContainer_fd6364,
.content_eed6a8>div[aria-hidden="true"][style="height: 84px;"]
{display: none}

/*=====  End of Section TUP  ======*/
