/**
* @name !dev
* @author ٴFeoreVٴ#3377
* @description DEV preload 
* @version  DEV
* @authorId 489785940546551831
*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap%27'); /*font*/
:root{ /* DEV */
	--red: red;
	--none: none;
}

:root {
  --FVUI: "DEV"!important;
  --font: "Comfortaa" ;
}

:root.theme-dark { /* Colors for users customization */
	--color1: 210, 24%, 16%; /* Additional BG */
	--color2: 204, 45%, 6%; /* Background */
	--color3: 209, 70%, 46%; /* Blue */
	--color4: 251, 55%, 38%; /* Gradient Color*/
	
 	--text1: 174, 174, 174; /*accent*/
	--text2: 107, 107, 107; /*no accent*/
}
:root.theme-light { /* Colors for users customization */
	--color1: 258, 29%, 85%; /* Additional BG */
	--color2: 0, 0%, 86%; /* Background */
	--color3: 199, 100%, 69%; /* Blue */
	--color4: 251, 55%, 38%; /* Gradient Color*/
}

:root {
    /*main*/
    --color01: hsl(var(--color1));
    --color02: hsl(var(--color2));
    --color03: hsl(var(--color3));
    --color04: hsl(var(--color4));
    /*opacity*/
    --ColorOpacity: 1; /* opacity multiplier (0.1-...) */
    --DisableOpacity: 0; /* Default=0 (0 or 1) */
	
    --opacity01: hsla(var(--color1), calc(var(--ColorOpacity)*0.9*(1 - var(--DisableOpacity)) + var(--DisableOpacity)));
    --opacity02: hsla(var(--color2), calc(var(--ColorOpacity)*0.9*(1 - var(--DisableOpacity)) + var(--DisableOpacity)));

    --opacity020a: hsla(var(--color2), calc(var(--ColorOpacity)*0.8*(1 - var(--DisableOpacity)) + var(--DisableOpacity)));

    --opacity01a: hsla(var(--color1), calc(var(--ColorOpacity)*0.6*(1 - var(--DisableOpacity)) + var(--DisableOpacity)));
    --opacity02a: hsla(var(--color2), calc(var(--ColorOpacity)*0.6*(1 - var(--DisableOpacity)) + var(--DisableOpacity)));

    --opacity01b: hsla(var(--color1), calc(var(--ColorOpacity)*0.4*(1 - var(--DisableOpacity)) + var(--DisableOpacity)));
    --opacity02b: hsl(var(--color2),calc(var(--ColorOpacity)*0.4*(1 - var(--DisableOpacity)) + var(--DisableOpacity)));

    --opacity01c: hsla(var(--color1), calc(var(--ColorOpacity)*0.2*(1 - var(--DisableOpacity)) + var(--DisableOpacity)));
    --opacity02c: hsla(var(--color1), calc(var(--ColorOpacity)*0.2*(1 - var(--DisableOpacity)) + var(--DisableOpacity)));

    --opacity03: hsla(var(--color3), calc(var(--ColorOpacity)*0.5*(1 - var(--DisableOpacity)) + var(--DisableOpacity)));
    --opacity03a: hsla(var(--color3), calc(var(--ColorOpacity)*0.2*(1 - var(--DisableOpacity)) + var(--DisableOpacity)));
    /*text*/
    --text01: rgb(var(--text1));
    --text02: rgb(var(--text2));
}

:root {
    --full01: hsla(var(--color1), calc(var(--ColorOpacity)*0.9*(1 - var(--DisableOpacity)) + var(--DisableOpacity)));
    --full02: hsla(var(--color2), calc(var(--ColorOpacity)*0.9*(1 - var(--DisableOpacity)) + var(--DisableOpacity)));

    --full020a: hsla(var(--color2), calc(var(--ColorOpacity)*0.8*(1 - var(--DisableOpacity)) + var(--DisableOpacity)));

    --full01a: hsla(var(--color1), calc(var(--ColorOpacity)*0.6*(1 - var(--DisableOpacity)) + var(--DisableOpacity)));
    --full02a: hsla(var(--color2), calc(var(--ColorOpacity)*0.6*(1 - var(--DisableOpacity)) + var(--DisableOpacity)));

    --full01b: hsla(var(--color1), calc(var(--ColorOpacity)*0.4*(1 - var(--DisableOpacity)) + var(--DisableOpacity)));
    --full02b: hsl(var(--color2), calc(var(--ColorOpacity)*0.4*(1 - var(--DisableOpacity)) + var(--DisableOpacity)));

    --full01c: hsla(var(--color1), calc(var(--ColorOpacity)*0.2*(1 - var(--DisableOpacity)) + var(--DisableOpacity)));
    --full02c: hsla(var(--color1), calc(var(--ColorOpacity)*0.2*(1 - var(--DisableOpacity)) + var(--DisableOpacity)));

    --full03: hsla(var(--color3), calc(var(--ColorOpacity)*0.5*(1 - var(--DisableOpacity)) + var(--DisableOpacity)));
    --full03a: hsla(var(--color3), calc(var(--ColorOpacity)*0.2*(1 - var(--DisableOpacity)) + var(--DisableOpacity)));
}

/*
.pictureInPicture__48d51:not(:has(.iframe__214b3)) {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
	z-index: 9999;

	font-size: 60px;
	font-weight: bold;

	animation: fade-out 2s ease-in-out forwards 0.5s, hide 2s linear forwards 1s;
	background-color:var(--full02);
	backdrop-filter: var(--blur4);
}
.pictureInPicture__48d51:not(:has(.iframe__214b3))::after {
	position: absolute;

	border-radius: 128px;

	content: var(--FVUI);
	font-size: 150px;
	color: var(--color03);
	text-shadow: 0 0 10px currentcolor, 0 0 20px currentcolor;
}
.pictureInPicture__48d51:not(:has(.iframe__214b3))::before {
	position: absolute;
	top: 95%;

	content: var(--version);
	font-size: 30px;
	color: var(--color03);
}
*/

/* :root {
  --server-unread-colour: 255, 255, 255;
  --server-hover-colour: 255, 0, 0;
  --server-selected-colour: var(--accent, 0, 231, 169);
  --server-spacing: 16px;
  --server-glow-intensity: 1;
} */

/*=============================================
=                 Title Island               =
=============================================*/

/*----------  Position  ----------*/

.chat__52833>.title_b7d661.container__11d72.themed_b152d4{
  position: absolute;
  background: none!important;
}

.chat__52833 .children__32014{
  display: flex;
  justify-content: center;
  align-items: center;

  margin:0 auto;
  flex:none;
}

.chat__52833 .children__32014>:is(div,.followButton__2e268){
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  margin:0;
  border-radius: 0;

  background: var(--full01a);
  backdrop-filter: blur(4px)!important;

}

/*----------  Hide/Show  ----------*/

.chat__52833 .children__32014>:is(.nicknames__7447d.overflow__87fe8,.topic__16ae3,.followButton__2e268){
  transform: translate(-100%, 0);
}
.chat__52833 .children__32014>.iconWrapper_af9215{
  transform: translate(100%, 0);
  transition: transform 1s, max-width 1s!important; /* */
}


.chat__52833 .children__32014>:is(.nicknames__7447d.overflow__87fe8,.topic__16ae3,.followButton__2e268,.iconWrapper_af9215){
  max-width: 0;
  transition: transform 1s .3s, max-width 1s;
}
.chat__52833 .children__32014:hover>:is(.nicknames__7447d.overflow__87fe8,.topic__16ae3,.followButton__2e268,.iconWrapper_af9215){
  max-width: 100%!important;
  transform: none;
  transition: transform 1s, max-width 1s;
}


/* static */
.chat__52833 .children__32014>:is(.hiddenVisually__06c3e+div,.titleWrapper__482dc), /* avatar + title */
.container__18bf5{
  backdrop-filter: var(--blur4);
  z-index: +2!important;
}


.chat__52833 .children__32014>.titleWrapper__482dc{ /* title */
  padding: 0 8px;
  border-radius: 8px!important;
  
  transition: border-radius .2s .3s;
}
#app-mount .chat__52833 .children__32014:not(:has(>.spacer__57b6a)):hover>.titleWrapper__482dc:has(+.divider_c09b64){
  transition: border-radius .2s 0s;

  border-radius: 0!important;
}

.chat__52833 .children__32014:has(>.iconWrapper_af9215):hover>.titleWrapper__482dc{ /* channel icon */
  transition: border-radius .2s 0s;

  border-radius: 0 8px 8px 0!important;
}

.chat__52833 .children__32014:has(>.topic__16ae3,.followButton__2e268):hover>.titleWrapper__482dc{ /* has topic/followbutton */
  border-radius: 0!important;
}



.children__32014>:is(div:has(>.wrapper_edb6e0.avatar__7c789),.iconWrapper_af9215){ /* avatar/icon - LEFT BR */
  border-radius: 8px 0 0 8px!important;
  padding-left: 8px;
}
.children__32014>:is(.nicknames__7447d.overflow__87fe8,.topic__16ae3,.followButton__2e268,div:has(>.wrapper_edb6e0.avatar__7c789)+.titleWrapper__482dc){ /* AKA/topic/followbutton/TitleEnd - RIGHT BR */
  border-radius: 0 8px 8px 0!important;
  padding-right: 8px;
}


.followButton__2e268{ /* followbutton BR fix*/
  border-radius: 0 8px 8px 0!important;
}

.children__32014>.divider_c09b64{
  display: none!important;
}
.children__32014:has(>.caret__33d19)>.iconWrapper_af9215{ /* topics */
  display: none
}
.akaBadge__7df41.textBadge__45d79.base__92a12.eyebrow__60985.baseShapeRound__95d0f{
  display: none;
}

/*----------  ToolBar  ----------*/
.toolbar__88c63{
  background: var(--full01);
  outline: var(--outline);
  border-radius: 8px;
}
.members__9f47b.thin_b1c063.scrollerBase_dc3aa9.fade_ba0fa0,
.profilePanel__12596{
  margin-top:50px
}
/*=====  End of Section Dynamic newmsgbar  ======*/






/*=============================================
=              Dynamic newmsgbar              =
=============================================*/


/*----------  compatibility  ----------*/








/*=====  End of Section Dynamic title  ======*/













.title_b7d661.container__11d72.themed_b152d4{
  pointer-events: none;
}
.upperContainer__993ba>div{
  pointer-events: all;
}




















/*=============================================
=                Settings icons               =
=============================================*/

/*----------  General  ----------*/

.sidebar__9e3e2>.side_b4b3f6>.item__48dda::before{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 10px;

  content: "";

  background-size: contain;
}
.theme-dark .sidebar__9e3e2>.side_b4b3f6>.item__48dda::before{
  filter:invert();
}
.sidebar__9e3e2>.side_b4b3f6>.item__48dda{
  padding-left: 35px;
}

/*----------  Icons  ----------*/
  /*USER SETTINGS*/
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.item__48dda.themed_b957e8:nth-of-type(2)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/MyAccount.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.item__48dda.themed_b957e8:nth-of-type(3)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/Profiles.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.item__48dda.themed_b957e8:nth-of-type(4)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/Privacy&Safety.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.item__48dda.themed_b957e8:nth-of-type(5)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/FamilyCenter.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.item__48dda.themed_b957e8:nth-of-type(6)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/AuthorizedApps.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.item__48dda.themed_b957e8:nth-of-type(7)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/Devices.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.item__48dda.themed_b957e8:nth-of-type(8)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/Connections.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.item__48dda.themed_b957e8:nth-of-type(9)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/Clips.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.item__48dda.themed_b957e8:nth-of-type(10)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/FriendRequests.svg");}
  /*BILLING*/
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.item__48dda.themed_b957e8:nth-of-type(13)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/Nitro.svg");height:14px!important}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.item__48dda.themed_b957e8:nth-of-type(14)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/ServerBoost.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.item__48dda.themed_b957e8:nth-of-type(15)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/Subscriptions.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.item__48dda.themed_b957e8:nth-of-type(16)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/GiftInventory.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.item__48dda.themed_b957e8:nth-of-type(17)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/GovernmentOrder.svg");}
  /*APP SETTINGS*/
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.item__48dda.themed_b957e8:nth-of-type(20)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/Appearance.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.item__48dda.themed_b957e8:nth-of-type(21)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/Accessibility.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.item__48dda.themed_b957e8:nth-of-type(22)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/Voice&Video.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.item__48dda.themed_b957e8:nth-of-type(23)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/Text&Images.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.item__48dda.themed_b957e8:nth-of-type(24)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/Notifications.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.item__48dda.themed_b957e8:nth-of-type(25)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/Keybinds.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.item__48dda.themed_b957e8:nth-of-type(26)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/Language.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.item__48dda.themed_b957e8:nth-of-type(27)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/WindowsSettings.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.item__48dda.themed_b957e8:nth-of-type(28)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/StreamerMode.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.item__48dda.themed_b957e8:nth-of-type(29)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/Advanced.svg");}
  /*ACTIVITY SETTINGS*/
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.item__48dda.themed_b957e8:nth-of-type(32)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/ActivityPrivacy.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.item__48dda.themed_b957e8:nth-of-type(33)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/RegistredGames.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.item__48dda.themed_b957e8:nth-of-type(34)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/GameOverlay.svg");}
  /*BD*/
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.bd-settings-tab.item__48dda.themed_b957e8::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/Settings.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.bd-updates-tab.item__48dda.themed_b957e8::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/Updates.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.bd-customcss-tab.item__48dda.themed_b957e8::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/CustomCSS.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.bd-plugins-tab.item__48dda.themed_b957e8::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/Plugins.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.bd-themes-tab.item__48dda.themed_b957e8::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/Themes.svg");}

/*----------  Icons + Plugin/Theme Repo  ----------*/
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.themerepo-tab.item__48dda.themed_b957e8::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/themerepo.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.pluginrepo-tab.item__48dda.themed_b957e8::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/pluginrepo.svg");}
  /*DS*/
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.item__48dda.themed_b957e8:nth-of-type(43)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/WhatsNew.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.item__48dda.themed_b957e8:nth-of-type(44)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/Merch.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.item__48dda.themed_b957e8:nth-of-type(45)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/HypeSquad.svg");}
  /*LOGOUT*/
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>.item__48dda.themed_b957e8:nth-of-type(47)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/Logout.svg");}

  /*DS*/
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6:has(>.pluginrepo-tab,.themerepo-tab)>.item__48dda.themed_b957e8:nth-of-type(44)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/WhatsNew.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6:has(>.pluginrepo-tab,.themerepo-tab)>.item__48dda.themed_b957e8:nth-of-type(45)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/Merch.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6:has(>.pluginrepo-tab,.themerepo-tab)>.item__48dda.themed_b957e8:nth-of-type(46)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/HypeSquad.svg");}
  /*LOGOUT*/
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6:has(>.pluginrepo-tab,.themerepo-tab)>.item__48dda.themed_b957e8:nth-of-type(48)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/Logout.svg");}

.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6:has(>.pluginrepo-tab):has(.themerepo-tab)>.item__48dda.themed_b957e8:nth-of-type(45)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/WhatsNew.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6:has(>.pluginrepo-tab):has(.themerepo-tab)>.item__48dda.themed_b957e8:nth-of-type(46)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/Merch.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6:has(>.pluginrepo-tab):has(.themerepo-tab)>.item__48dda.themed_b957e8:nth-of-type(47)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/HypeSquad.svg");}
  /*LOGOUT*/
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6:has(>.pluginrepo-tab):has(.themerepo-tab)>.item__48dda.themed_b957e8:nth-of-type(49)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/Logout.svg");}

/*----------  Icons + Asar  ----------*/
 /*ACTIVITY SETTINGS*/
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6>#openasar-item::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/OpenAsar.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6:has(#openasar-item)>.item__48dda.themed_b957e8:nth-of-type(33)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/ActivityPrivacy.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6:has(#openasar-item)>.item__48dda.themed_b957e8:nth-of-type(34)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/RegistredGames.svg");}
.layer__2efaa>.standardSidebarView__1129a>.sidebarRegion__60457>.sidebarRegionScroller__1fa7e.thin__62e51.scrollerBase__2b744.fade__8a426>.sidebar__9e3e2>.side_b4b3f6:has(#openasar-item)>.item__48dda.themed_b957e8:nth-of-type(35)::before{background-image: url("https://feorev.github.io/Themes/Discord/assets/SettingsIcons/GameOverlay.svg");}

/*=====  End of Section Settings icons  ======*/















/* .wrapper_cd625e.categoryList_f8c48f{
  position: absolute;
  transform: rotate(90deg);
  background: red;
  height: 100%;
  left: 45%;
} */








































































/*=============================================
=                  ServerRings                =
=============================================*/
[data-list-id="guildsnav"]>.scroller__3d071.none__3919e.scrollerBase__2b744{
  padding-top: 30px;
}
/*----------  Variables  ----------*/
:root{
  --server-color: hsl(255, 255, 255);
  --server-color-mention:hsl(255, 255, 255);
  --server-color-selected:hsl(0, 231, 169);
  --server-margin: 16px
}

/*----------  Pills  ----------*/
.listItem_fa7b36>.pill__13f64,
.listItem_fa7b36>.wrapper__3670f{
  display: none
}

.listItem_fa7b36::before{ /* general */
  position: absolute;
  content: "";
  width: 48px;  
  height: 48px;
  border-radius: 100%;

  color:var(--server-color);

  padding:5px;
  margin:-5px;

  opacity: 0;

  outline: 3px solid currentcolor;
	box-shadow: 0 0 20px currentcolor;

  transition: opacity .3s;
  animation: server-color-anim 5s forwards;


  z-index: +55;
  pointer-events: none;
  overflow: visible!important;
}






/* default */
.listItem_fa7b36, 
.tutorialContainer_dc6fde,
.tutorialContainer_dc6fde+.listItem_fa7b36,
#app-mount .wrapper_ed1dea:not(:has(.collapsed__0a270)),
[id*="folder-items-"]{ 
  width: 100%!important;
  height: fit-content!important;
  margin: 0 0 var(--server-margin) 0!important;
}
.tree__7a511>.scroller__3d071.none__51a8f.scrollerBase_dc3aa9{
  padding-right: 0!important;
} 

/* HSL */
/* #app-mount .listItem_fa7b36, 
#app-mount .tutorialContainer_dc6fde,
#app-mount [id*="folder-items-"],
#app-mount .wrapper_ed1dea:not(:has(.collapsed__0a270)){
  width: fit-content!important;
  margin: 0 16px 0 0!important;
} */

/*----------  Definition of rings  ----------*/
.listItem_fa7b36:not(:has(>.guildSeparator_dcb3cc)):hover::before { /* hover */
  color:var(--server-color)!important;
  opacity:1!important;
}
/* .listItem_fa7b36:has(>.wrapper__3670f>.item_f9d377[style*="transform: none;"])::before {
  color:var(--server-color)!important;
  opacity:1!important;
} */

.listItem_fa7b36:has(>.wrapper__3670f>.item_f9d377[style="opacity: 1; height: 8px; transform: none;"])::before { /* unread */
  color:var(--server-color)!important;
  opacity:1!important;
}
.listItem_fa7b36:has(.lowerBadge__669e7)::before{ /* mention */
  color:var(--server-color-mention);
  opacity:1;
}

.listItem_fa7b36:has(>.wrapper__3670f>.item_f9d377[style*="height: 40"])::before { /* selected */
  color:var(--server-color-selected)!important;
  opacity:1;
} 

/*---------- OnClick  ----------*/
.blobContainer__5ee50,
.listItemWrapper__1f93b {
  transition: .3s transform;
}
.blobContainer__5ee50:active,
.listItemWrapper__1f93b:active {
  transform: scale(.9);
}

/*----------  Other  ----------*/

/* default separator */
.listItem_fa7b36:has(.guildSeparator_dcb3cc){
  height: fit-content;
  width: 100%!important;
  margin: 0 0 var(--server-margin) 0!important;
}

/* HSL separator */
/* #app-mount .listItem_fa7b36:has(.guildSeparator_dcb3cc){
  height: fit-content!important;
  width: fit-content!important;
  margin: 0 var(--server-margin) 0 0!important;
} */



 /* notify mask  */
/* .svg_ad7356>foreignObject{
  mask:none
} */
/*=====  End of Section ServerRings  ======*/

:root {
	--full01: hsla(var(--color1), 0.4)!important;
	--full02: hsla(var(--color2), 0.4)!important;

	--full020a: hsla(var(--color2), 0.1)!important;

	--full01a: hsla(var(--color1), 0.3)!important;
	--full02a: hsla(var(--color2), 0.3)!important;

	--full01b: hsla(var(--color1), 0.2)!important;
	--full02b: hsl(var(--color2),0.2)!important;

	--full01c: hsla(var(--color1), 0.1)!important;
	--full02c: hsla(var(--color1), 0.1)!important;

	--full03: hsla(var(--color3), 0.5)!important;
	--full03a: hsla(var(--color3), 0.2)!important;
}













/* .scroller__3d071 {
  overflow: visible scroll !important;
}
.tree__7a511 {
  width: 200%;
}
.scroller__3d071.none__3919e.scrollerBase__2b744>div{
  left: -25%;
  position: relative;
}
.guilds__2b93a {
  overflow: visible;
  z-index: 1;
} */






















/*=============================================
=                   Badges                   =
=============================================*/

/*----------  General  ----------*/

/* small */
.userPopoutInner_e90432:has( /* small - padding */ 
    .avatar__991e2[src*="489785940546551831"],
    .avatar__991e2[src*="802381130916954132"],
    .avatar__991e2[src*="835541619910377493"],
    .avatar__991e2[src*="766358612930330635"],
    .avatar__991e2[src*="932840579128250448"],
    .avatar__991e2[src*="895303052595171348"],
    .avatar__991e2[src*="992777461857259610"],
    .avatar__991e2[src*="950112422864232449"]
    )>.profileBadges__1f2ab{
	padding-left: 25px;
}

.userPopoutInner_e90432:has( /* img */
	.avatar__991e2[src*="489785940546551831"],
	.avatar__991e2[src*="802381130916954132"],
	.avatar__991e2[src*="835541619910377493"],
  .avatar__991e2[src*="766358612930330635"],
  .avatar__991e2[src*="932840579128250448"],
  .avatar__991e2[src*="895303052595171348"],
  .avatar__991e2[src*="992777461857259610"],
  .avatar__991e2[src*="950112422864232449"]
  )>.profileBadges__1f2ab::before{
	position: absolute;
	top:4px;
	left:4px;
	content:"";

	width: 22px;
  height: 22px;

	border-radius: 100%;
	background-size: contain;
  background-repeat: no-repeat;
	background-image: var(--badges_img)!important;
}

.userPopoutOuter__3884e {
  overflow: visible;
}

#app-mount .userPopoutInner_e90432:has( /* text */ 
    .avatar__991e2[src*="489785940546551831"],
    .avatar__991e2[src*="802381130916954132"],
    .avatar__991e2[src*="835541619910377493"],
    .avatar__991e2[src*="766358612930330635"],
    .avatar__991e2[src*="932840579128250448"],
    .avatar__991e2[src*="895303052595171348"],
    .avatar__991e2[src*="992777461857259610"],
    .avatar__991e2[src*="950112422864232449"]
    )
>.profileBadges__1f2ab::after{
	position: absolute;
	top:-39px;
  left: -40px;

	width: fit-content;
  height: fit-content;

  min-width: 120px;
  min-height: 29px;

  padding: 8px 12px;
  margin: 0 3px;

  font-size: 14px!important;
  font-style: normal;
  line-height: 16px;
  overflow-wrap: break-word;

	border-radius: 8px;

	display: flex;
	justify-content: center;
	align-items: center;

	background:var(--opacity03);
	backdrop-filter: var(--blur4);

	color:#fff;
}

/* big */
.userProfileModalInner__99b1e.userProfileInner__61cc1 div:has(
	.avatar__991e2[src*="489785940546551831"],
	.avatar__991e2[src*="802381130916954132"],
	.avatar__991e2[src*="835541619910377493"],
  .avatar__991e2[src*="766358612930330635"],
  .avatar__991e2[src*="932840579128250448"],
  .avatar__991e2[src*="895303052595171348"],
  .avatar__991e2[src*="992777461857259610"],
  .avatar__991e2[src*="950112422864232449"]
)
.headerTop_e82f16>.badgeList__126b0::before{ /* big - img*/
	position: relative;
	content:"";
	width: 22px;
	height: 22px;
	background-size: contain;
	border-radius: 100%;
	background-image:var(--badges_img);
}

.userPopoutInner_e90432:has( /* text */ 
.avatar__991e2[src*="489785940546551831"],
.avatar__991e2[src*="802381130916954132"],
.avatar__991e2[src*="835541619910377493"],
.avatar__991e2[src*="766358612930330635"],
.avatar__991e2[src*="932840579128250448"],
.avatar__991e2[src*="895303052595171348"],
.avatar__991e2[src*="992777461857259610"],
.avatar__991e2[src*="950112422864232449"]

)
.container_ed2af4::after{
	position: absolute;
	top:-39px;
  left: -40px;

	width: fit-content;
  height: fit-content;

  min-width: 100px;
  min-height: 29px;

  padding: 2px 0px;
  margin: 0 3px;

	border-radius: 8px;

	display: flex;
	justify-content: center;
	align-items: center;

	background:var(--opacity03);
	backdrop-filter: var(--blur4);

	color:#fff;
}
/*----------  feorev 489785940546551831  ----------*/
.userPopoutInner_e90432:has(.avatar__991e2[src*="489785940546551831"])>.profileBadges__1f2ab::before,
.userProfileModalInner__99b1e.userProfileInner__61cc1 div:has(.avatar__991e2[src*="489785940546551831"]) .headerTop_e82f16>.badgeList__126b0::before{
	--badges_img: url(https://feorev.github.io/Themes/Discord/assets/HomeIcon/IconSelected.png);
}

.userPopoutInner_e90432:has(.avatar__991e2[src*="489785940546551831"])>.profileBadges__1f2ab:not(:has(.anchor_c8ddc0:hover)):hover::after{ /* feorev - small - text */
	content:"Hello";
}

/*----------  cazaservices 802381130916954132  ----------*/
.userPopoutInner_e90432:has(.avatar__991e2[src*="802381130916954132"])>.profileBadges__1f2ab::before,
.userProfileModalInner__99b1e.userProfileInner__61cc1 div:has(.avatar__991e2[src*="802381130916954132"]) .headerTop_e82f16>.badgeList__126b0::before{
	--badges_img: url(https://feorev.github.io/Themes/Discord/assets/Badges/802381130916954132.png);
}
.userPopoutInner_e90432:has(.avatar__991e2[src*="802381130916954132"])>.profileBadges__1f2ab:not(:has(.anchor_c8ddc0:hover)):hover::after{
	content:"Owner Of TNB Shop";
}

/*---------- player_107 766358612930330635  ----------*/
.userPopoutInner_e90432:has(.avatar__991e2[src*="766358612930330635"])>.profileBadges__1f2ab::before,
.userProfileModalInner__99b1e.userProfileInner__61cc1 div:has(.avatar__991e2[src*="766358612930330635"]) .headerTop_e82f16>.badgeList__126b0::before{
	--badges_img: url(https://feorev.github.io/Themes/Discord/assets/Badges/766358612930330635.png);
}
.userPopoutInner_e90432:has(.avatar__991e2[src*="766358612930330635"])>.profileBadges__1f2ab:not(:has(.anchor_c8ddc0:hover)):hover::after{
	content:"Player_107";
}

/*---------- andreasomg1000 835541619910377493  ----------*/
.userPopoutInner_e90432:has(.avatar__991e2[src*="835541619910377493"])>.profileBadges__1f2ab::before,
.userProfileModalInner__99b1e.userProfileInner__61cc1 div:has(.avatar__991e2[src*="835541619910377493"]) .headerTop_e82f16>.badgeList__126b0::before{
	--badges_img: url(https://feorev.github.io/Themes/Discord/assets/Badges/835541619910377493.png);
}

.userPopoutInner_e90432:has(.avatar__991e2[src*="835541619910377493"])>.profileBadges__1f2ab:not(:has(.anchor_c8ddc0:hover)):hover::after{ 
	content:"DEATH";
}

/*---------- moey_o 932840579128250448  ----------*/
.userPopoutInner_e90432:has(.avatar__991e2[src*="932840579128250448"])>.profileBadges__1f2ab::before,
.userProfileModalInner__99b1e.userProfileInner__61cc1 div:has(.avatar__991e2[src*="932840579128250448"]) .headerTop_e82f16>.badgeList__126b0::before{
	--badges_img: url(https://feorev.github.io/Themes/Discord/assets/Badges/932840579128250448.png);
}

.userPopoutInner_e90432:has(.avatar__991e2[src*="932840579128250448"])>.profileBadges__1f2ab:not(:has(.anchor_c8ddc0:hover)):hover::after{ /* feorev - small - text */
	content:"Football";
    color: black
}
/*---------- elmorens 895303052595171348  ----------*/
.userPopoutInner_e90432:has(.avatar__991e2[src*="895303052595171348"])>.profileBadges__1f2ab::before,
.userProfileModalInner__99b1e.userProfileInner__61cc1 div:has(.avatar__991e2[src*="895303052595171348"]) .headerTop_e82f16>.badgeList__126b0::before{
	--badges_img: url(https://feorev.github.io/Themes/Discord/assets/Badges/895303052595171348.png);
}
.userPopoutInner_e90432:has(.avatar__991e2[src*="895303052595171348"])>.profileBadges__1f2ab:not(:has(.anchor_c8ddc0:hover)):hover::after{ /* feorev - small - text */
	content:"official";
    color: black
}

/*---------- tnvy0_0 992777461857259610  ----------*/
.userPopoutInner_e90432:has(.avatar__991e2[src*="992777461857259610"])>.profileBadges__1f2ab::before,
.userProfileModalInner__99b1e.userProfileInner__61cc1 div:has(.avatar__991e2[src*="992777461857259610"]) .headerTop_e82f16>.badgeList__126b0::before{
	--badges_img: url(https://feorev.github.io/Themes/Discord/assets/Badges/992777461857259610.png);
	border-radius: 0;
}
.userPopoutInner_e90432:has(.avatar__991e2[src*="992777461857259610"])>.profileBadges__1f2ab:not(:has(.anchor_c8ddc0:hover)):hover::after{ /* feorev - small - text */
	content:"Badlion Client User";
}

/*---------- alessiotsu 950112422864232449  ----------*/
.userPopoutInner_e90432:has(.avatar__991e2[src*="950112422864232449"])>.profileBadges__1f2ab::before,
.userProfileModalInner__99b1e.userProfileInner__61cc1 div:has(.avatar__991e2[src*="950112422864232449"]) .headerTop_e82f16>.badgeList__126b0::before{
	--badges_img: url(https://feorev.github.io/Themes/Discord/assets/Badges/950112422864232449.png);
}
.userPopoutInner_e90432:has(.avatar__991e2[src*="950112422864232449"])>.profileBadges__1f2ab:not(:has(.anchor_c8ddc0:hover)):hover::after{ /* feorev - small - text */
	content:"Verified CCBot Developer";
}
/*=====  End of Section Badges  ======*/
