
:root{
  --server-color: rgb(255, 255, 255);
  --server-color-mention:rgb(255, 255, 255);
  --server-color-selected:rgb(0, 231, 169);
  --server-margin: 32px
}

.listItem_fa7b36>.pill__13f64,
.listItem_fa7b36>.wrapper__3670f{
  display: none
}

.listItem_fa7b36:has(.guildSeparator_dcb3cc){
  height: fit-content;
}

.listItem_fa7b36,
.tutorialContainer_dc6fde,
.tutorialContainer_dc6fde+.listItem_fa7b36,

[id*="folder-items-"]{
  width: 100%;
  height: fit-content!important;
  margin: 0 0 16px;
}


.wrapper_ed1dea>.folderEndWrapper__7e489{ /* работает не трогай */
  padding-bottom:calc(var(--server-margin) / 2);
}
.listItem_fa7b36::before{ /* general */
  position: absolute;
  content: "";
  width: 48px;  
  height: 48px;
  border-radius: 100%;

  color:var(--server-color);

  padding:5px;
  margin:-5px;

  opacity: 0;

  outline: 3px solid currentcolor;
	box-shadow: 0 0 20px currentcolor;

  transition: opacity .3s;
  animation: server-color-anim 5s forwards;
}


.svg_ad7356>foreignObject{ /* notify mask */
  mask:none
}




.blobContainer__5ee50,
.listItemWrapper__1f93b {
  transition: .3s transform;
}
.blobContainer__5ee50:active,
.listItemWrapper__1f93b:active {
  transform: scale(.9);
}


.listItem_fa7b36:not(:has(>.guildSeparator_dcb3cc)):hover::before { /* hover */
  color:var(--server-color)!important;
  opacity:1!important;
}
.listItem_fa7b36:has(>.wrapper__3670f>.item_f9d377[style*="transform: none;"])::before { /* do not ask me / hover fix */
  color:var(--server-color)!important;
  opacity:1!important;
}

.listItem_fa7b36:has(>.wrapper__3670f>.item_f9d377[style="opacity: 1; height: 8px; transform: none;"])::before { /* unread */
  color:var(--server-color)!important;
  opacity:1!important;
}
.listItem_fa7b36:has(.lowerBadge__669e7)::before{ /* mention */
  color:var(--server-color-mention);
  opacity:1;
}

.listItem_fa7b36:has(>.wrapper__3670f>.item_f9d377[style*="height: 40"])::before { /* selected */
  color:var(--server-color-selected)!important;
  opacity:1;
} 


.wrapper_d281dd>.childWrapper__01b9c.acronym_cd4809{
  background: transparent!important;
  border-radius: 100%!important;
} 
