/*=============================================
=              FVUI compatibility            =
=============================================*/
.sidebar_ded4b5>.container__590e2,
.sidebar_ded4b5>.privateChannels__93473{
  margin-bottom: 0!important;
} 
.theme-dark .sidebar_ded4b5 .content__23cab:after {
  display: none;
}

#app-mount .searchBar_e4ea2a{
  position: relative;
  backdrop-filter: none;
}

.flex_f5fbb7 > .inner_ab95dc{ /* todo */
	display: none
}
/*=====  End of Section FVUI compatibility  ======*/

/*=============================================
=                      TUP                    =
=============================================*/

#app-mount .panels__58331{
  order: -1;
  padding-top: 1px;
  margin-top: 10px;
  position: sticky;
}
.panels__58331>.container_ca50b9{
  order:-1;
}

#app-mount .searchBar_e4ea2a{
  order:10;
  position: relative;
}

.container__7c79d.clickable__2d589{
  position: relative;
  top: 1;
  bottom: 0;
  width: 100%;
  border-radius: 16px!important;

  margin-bottom: 10px; /*floating*/
}
.header__104ca{
	border-radius: 16px!important;
}
.sidebar_ded4b5>.container__590e2,
.sidebar_ded4b5>.privateChannels__93473{
  margin-top: -9vh!important;
} 
.sidebar_ded4b5 .content__23cab{
  margin-top: 4.5vh
}


.sidebar_ded4b5 .content__23cab::after {
    content: "";
    height: calc(5vh + 10px)!important;
    display: block!important;
}
.sidebar_ded4b5:has(.container_d667ff) .content__23cab::after {
    content: "";
    height: calc(5vh + 10px)!important;
    display: block!important;
}
.animatedContainer__341f6,
.content__23cab>div[aria-hidden="true"][style="height: 84px;"]
{display: none}

/*=====  End of Section TUP  ======*/
