/*=============================================
=              FVUI compatibility            =
=============================================*/
.sidebar_e031be>.container__7e23c,
.sidebar_e031be>.privateChannels__9b518{
  margin-bottom: 0!important;
} 
.theme-dark .sidebar_e031be .content__690c5:after {
  display: none;
}

#app-mount .searchBar__621ec{
  position: relative;
  backdrop-filter: none;
}

.flex_f18b02 > .inner_ab95dc{ /* todo */
	display: none
}
/*=====  End of Section FVUI compatibility  ======*/

/*=============================================
=                      TUP                    =
=============================================*/

#app-mount .panels__58331{
  order: -1;
  padding-top: 1px;
  margin-top: 10px;
  position: sticky;
}
.panels__58331>.container_debb33{
  order:-1;
}

#app-mount .searchBar__621ec{
  order:10;
  position: relative;
}

.container_f41675.clickable__1383f{
  position: relative;
  top: 1;
  bottom: 0;
  width: 100%;
  border-radius: 16px!important;

  margin-bottom: 10px; /*floating*/
}
.header__77c95{
	border-radius: 16px!important;
}
.sidebar_e031be>.container__7e23c,
.sidebar_e031be>.privateChannels__9b518{
  margin-top: -9vh!important;
} 
.sidebar_e031be .content__690c5{
  margin-top: 4.5vh
}


.sidebar_e031be .content__690c5::after {
    content: "";
    height: calc(5vh + 10px)!important;
    display: block!important;
}
.sidebar_e031be:has(.container_e1958d) .content__690c5::after {
    content: "";
    height: calc(5vh + 10px)!important;
    display: block!important;
}
.animatedContainer__0e828,
.content__690c5>div[aria-hidden="true"][style="height: 84px;"]
{display: none}

/*=====  End of Section TUP  ======*/
