/**
* @name FVUI
* @author ٴFeoreVٴ#3377
* @description FVUI - disabled
* @version  AutoUpdate
* @authorId 489785940546551831
* @invite baEMQkgswT
* @source https://github.com/FeoreV/Themes/tree/main/Discord
 .----------------.  .----------------.  .----------------.  .----------------.   
| .--------------. || .--------------. || .--------------. || .--------------. |  
| |  _________   | || | ____   ____  | || | _____  _____ | || |     _____    | |  
| | |_   ___  |  | || ||_  _| |_  _| | || ||_   _||_   _|| || |    |_   _|   | |  
| |   | |_  \_|  | || |  \ \   / /   | || |  | |    | |  | || |      | |     | |  
| |   |  _|      | || |   \ \ / /    | || |  | '    ' |  | || |      | |     | |  
| |  _| |_       | || |    \ ' /     | || |   \ `--' /   | || |     _| |_    | |  
| | |_____|      | || |     \_/      | || |    `.__.'    | || |    |_____|   | |  
| |              | || |              | || |              | || |              | |  
| '--------------' || '--------------' || '--------------' || '--------------' |  
 '----------------'  '----------------'  '----------------'  '----------------'  
*/
@import url("https://feorev.github.io/Themes/Discord/main.theme.css");

	/*Guide*/
/*

	Enabled - @import url(...)
	Disabled - /*@import url(...)*/

/*
	/*Guide*/



	/*Subthemes to choose*/
	
	/*Default*/
/*@import url("https://feorev.github.io/Themes/Discord/FVUIDEF.theme.css");*/

	/*WIN11*/ 
@import url("https://feorev.github.io/Themes/Discord/FVUI11.theme.css");

	/*Subthemes to choose*/



	/* Addons */
	
@import url("https://feorev.github.io/Themes/Discord/Addons/trash.css"); /* Removes all unnecessary */

	/* Addons */



	/* Settings */
	
:root.theme-dark {
	--color1: 30, 40, 50; /* Additional BG */
	--color2: 9, 18, 24; /* Background */
	--color3: 35, 120, 200; /* Blue */
	--color4: 63, 43, 150; /* Gradient Color*/
}

:root.theme-light {
	--color1: 211, 204, 227; /* Additional BG */
	--color2: 219, 219, 219; /* Background */
	--color3: 96,205,255; /* Blue */
	--color4: 63, 43, 150; /* Gradient Color*/
}
:root{
	--DarkBG: url(https://feorev.github.io/Themes/Discord/assets/Wallpapers/dark.avif);
	--LightBG: url(https://feorev.github.io/Themes/Discord/assets/Wallpapers/light.avif);
}

	/* Settings */


	/* Credits */
/*
	Gibbu#0001 - RadialStatus / ServerRings
	dablulite#0001 - userpanel 
*/
	/* Credits */
