/**
* @name FVUI
* @author feorev
* @description FVUI - disabled
* @version  AutoUpdate
* @authorId 489785940546551831
* @invite baEMQkgswT
* @source https://github.com/FeoreV/Themes/tree/main/Discord
*/
/* ! DO NOT TOUCH ! */
@import url(https://feorev.github.io/Themes/Discord/assets/Themes/Core/preload.css);
@import url(https://feorev.github.io/Themes/Discord/assets/Versions/v2.css);



/*=============================================
=                   Guide                     =
=============================================*/

/*

	Select import and press ctrl+/

	Enabled - @import url(...)
	Disabled - /*@import url(...)*/

/* More detailed information and support on any issue can be found at the link: https://discord.gg/baEMQkgswT */



/*=============================================
=             Subthemes to choose             =
=============================================*/

/* You can find out more about all SubThemes at the following link: https://discord.com/channels/1096843985928061032/1105243361310412930/1189661990554173480 */

/*----------  Default  ----------*/
	/* Default */
@import url(https://feorev.github.io/Themes/Discord/assets/Themes/SubThemes/default.css);
	/* Lite */
/* @import url(https://feorev.github.io/Themes/Discord/assets/Themes/SubThemes/lite.css); */

/*----------  WIN11 ( Custom background supported )  ----------*/
	/* WIN11 */ 
/* @import url(https://feorev.github.io/Themes/Discord/assets/Themes/SubThemes/win11.css); */
	/* Lite11 */
/* @import url(https://feorev.github.io/Themes/Discord/assets/Themes/SubThemes/lite11.css); */

/*----------  Other  ----------*/
	/*MICA (Required "Mica For Everyone" and enabling transparency (Settings=>BD=>Settings=>Window preferences=>Enable transparency)*/
/* @import url(https://feorev.github.io/Themes/Discord/assets/Themes/SubThemes/mica.css); */



/*=============================================
=                   Addons                   =
=============================================*/

/* You can find out more about all Addons at the following link: https://discord.com/channels/1096843985928061032/1105243361310412930/1190743938341031967 */

	/* Trash (Removes all unnecessary. For example - nitro, unnecessary menu items, and so on. Comment out this line if you need any of this or change the addon settings below) */
@import url(https://feorev.github.io/Themes/Discord/assets/Themes/Addons/trash.css);

	/* Events (Any events and decorations for the holidays. For example, snow and New Year's attributes for the new year.) */
@import url(https://feorev.github.io/Themes/Discord/assets/Themes/Addons/Events/Events.css);

	/* MaterialYou (The theme color scheme adjusts to the accent color) */
/* @import url(https://feorev.github.io/Themes/Discord/assets/Themes/Addons/materialyou.css); */

	/* ModularDesign (Adds outline to main sections) */
/* @import url(https://feorev.github.io/Themes/Discord/assets/Themes/Addons/modulardesign.css); */

	/* TopUserPanel (Moves the userpanel to the top corner) */
/* @import url(https://feorev.github.io/Themes/Discord/assets/Themes/Addons/TopUserPanel.css); */

	/* HorizontalServerList (Moves serverlist to the top or bottom corner. For FVUI, it is recommended to use this version of HSL, and not the official one. The original author of HSL is gibbu.) */
/* @import url(https://feorev.github.io/Themes/Discord/assets/Themes/Addons/HSL/HSL_top.css); */
/* @import url(https://feorev.github.io/Themes/Discord/assets/Themes/Addons/HSL/HSL_bottom.css); */

	/* Something new? */
/* You can find new, current addons and more in the discord server: https://discord.gg/baEMQkgswT */






/*=============================================
=             SubThemes Settings              =
=============================================*/

/* You can find out more about all Variables at the following link: https://discord.com/channels/1096843985928061032/1105243361310412930/1190750041464381531 */

	/*----------  General  ----------*/
:root{
	--cursor:url('https://cdn.discordapp.com/attachments/595306807795253258/1107955455436787722/pointer.cur'); /* Link to cursor / unset - to set standard */
	--font: "Comfortaa"; /* The font must be pre-installed or imported */
    --homeicon: url("https://feorev.github.io/Themes/Discord/assets/HomeIcon/Icon.png"); /* Link to image */
}

:root{
    --ColorOpacity: 1; /* Opacity multiplier / Default=1 (0.1-...) */
    --DisableOpacity: 0; /* Disable Opacity / Default=0 (0 or 1) */
}

:root.theme-dark {
	--color1: 30, 40, 50; /* Additional BG / Default= | 30, 40, 50 | (any raw rgb value) */
	--color2: 9, 18, 24; /* Background / Default= | 9, 18, 24 | (any raw rgb value) */
	--color3: 35, 120, 200; /* Additional Color / Default= | 35, 120, 200 | (any raw rgb value) */
	--color4: 63, 43, 150; /* Gradient Color / Default= | 63, 43, 150 | (any raw rgb value) */
}
:root.theme-light {
	--color1: 211, 204, 227; /* Additional BG / Default= | 211, 204, 227 | (any raw rgb value) */
	--color2: 219, 219, 219; /* Background / Default= | 219, 219, 219 | (any raw rgb value) */
	--color3: 96,205,255; /* Additional Color / Default= | 96,205,255 | (any raw rgb value) */
	--color4: 63, 43, 150; /* Gradient Color / Default= | 63, 43, 150 | (any raw rgb value)  */
}

	/*----------  WIN11  ----------*/
:root{
	--DarkBG: url(https://feorev.github.io/Themes/Discord/assets/Wallpapers/dark.avif); /* Link to background image / Default= url(https://feorev.github.io/Themes/Discord/assets/Wallpapers/dark.avif) ( url(link) ) */
	--LightBG: url(https://feorev.github.io/Themes/Discord/assets/Wallpapers/light.avif); /* Link to background image / Default= url(https://feorev.github.io/Themes/Discord/assets/Wallpapers/light.avif) ( url(link) ) */
	--OpacityBG: 100%; /* Background image transparency / Default=100% (0%-100%) */
	--BlurBG: 0px; /* Background image blur / Default=0px (any value in px) */
}


	/*----------  Mica  ----------*/
:root{
	--BGopacity: 30%; /* Background image transparency / Default=30% (0%-100%) */
	--BGcolor: var(--color2); /* Ð¡olor in RGB / Example = rgb(255,255,255) ( any value in RGB (like example) ) */
}



/*=============================================
=               Addons Settings               =
=============================================*/

	/*----------  Trash  ----------*/
:root{ /* None/Flex */
	--nitro: none; 
	--contextmenu: none;
	--profile: none;
	--chat:none;
	--other:none;
}

	/*----------  MaterialYou  ----------*/
:root.theme-dark{ 
	--accentcolor: 210, 68%; /* First 2 HSL values / Default= | 210, 68% | https://g.co/kgs/83i83K */
}
:root.theme-light{
    --accentcolor: 199, 100%;  /* First 2 HSL values / Default= | 199, 100% | https://g.co/kgs/83i83K */
}

	/*----------  ModularDesign  ----------*/
:root{ /*MainModules*/
	--outline: 3px; /* outline size / Default=3px (any value in px) */
	--outlineCLR: var(--color03); /* outline color / Example = rgb(255,255,255) ( any value in RGB (like example) ) */
	--outlineBR: 16px; /* outline rounding / Default=16px (any value in px) */
	--outlineMG: 2rem; /* outline margin / Default=2rem (any value in px/rem/...) */
	--outlineBS: 15px var(--outlineCLR); /* outline glow / Example = | 10px rgb(255,255,255)| (value like example - size/color) */
	--outlineBG: unset;  /* outline content background color / Example = rgb(255,255,255) ( any value in RGB (like example) */
	--outlineBLUR: 0; /* (ONLY WIN11) backdrop blur / Default=0 ( any value in px */
}

:root{ /*AdditionalModules*/
	--outline2: 0; /* outline size / Default=0px (disabled) (any value in px) */
	--outlineCLR2: var(--outlineCLR); /* outline color / Example = rgb(255,255,255) ( any value in RGB (like example) ) */
	--outlineBR2: var(--outlineBR); /* outline rounding / (any value in px) */
	--outlineMG2: var(--outlineMG); /* outline margin / (any value in px/rem/...) */
	--outlineBS2: 0; /* outline glow / Example = | 10px rgb(255,255,255)| (value like example - size/color) */
	--outlineBG2: unset; /* outline content background color / Example = rgb(255,255,255) ( any value in RGB (like example) */
	--outlineBLUR2: 0 /* (ONLY WIN11) (Not recommended - bad performance) backdrop blur / Default=0 ( any value in px */
}

	/*----------  Have you tuned the theme well?   ----------*/
/* You can share your vision of the world in the channel of the Discord server by sending the settings: https://discord.gg/baEMQkgswT */

/*=============================================
=                   Credits                   =
= 	   gibbu - RadialStatus / ServerRings     =
=============================================*/
