@import url('https://feorev.github.io/Themes/assets/versions.css');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap%27'); /*font*/
  
  /*FVUI*/
:root.theme-dark { /* Colors for users customization */
	--color1: 30, 40, 50; /* Additional BG */
	--color2: 9, 18, 24; /* Background */
	--color3: 35, 120, 200; /* Blue */
	--color4: 63, 43, 150; /* Gradient Color*/
	
    --text1: 174, 174, 174; /*accent*/
	--text2: 107, 107, 107; /*no accent*/
}
:root.theme-light { /* Colors for users customization */
	--color1: 211, 204, 227; /* Additional BG */
	--color2: 219, 219, 219; /* Background */
	--color3: 96,205,255; /* Blue */
	--color4: 63, 43, 150; /* Gradient Color*/
}

:root {
/*main*/
	--color01: rgb(var(--color1));
	--color02: rgb(var(--color2));
	--color03: rgb(var(--color3));
	--color04: rgb(var(--color4));
/*opacity*/
    --opacity01: rgba(var(--color1), 0.9);
	--opacity02: rgba(var(--color2), 0.9);

	--opacity020a: rgba(var(--color2), 0.8);

	--opacity01a: rgba(var(--color1), 0.6);
	--opacity02a: rgba(var(--color2), 0.6);

	--opacity01b: rgba(var(--color1), 0.4);
	--opacity02b: rgb(var(--color2),0.4);

	--opacity01c: rgba(var(--color1), 0.2);
	--opacity02c: rgba(var(--color1), 0.2);

	--opacity03: rgba(var(--color3), 0.5);
	--opacity03a: rgba(var(--color3), 0.2);
/*text*/
    --text01: rgb(var(--text1));
	--text02: rgb(var(--text2));
}

    /* MaterialYou */

:root.theme-dark .material-you{ /* Colors for users customization */
	--accentcolor: 210, 68%; 

	--color1: var(--accentcolor), 15%; /* Additional BG */
	--color2: var(--accentcolor), 10%; /* Background */
	--color3: var(--accentcolor), 46%;
	--color4: 251, 55%, 38%; /* Gradient Color*/
}
:root.theme-light .material-you{ /* Colors for users customization */
    --accentcolor: 199, 100%;

	--color1: var(--accentcolor), 80%; /* Additional BG */
	--color2: var(--accentcolor), 86%; /* Background */
	--color3: var(--accentcolor), 69%; /* Blue */
	--color4: 251, 55%, 38%; /* Gradient Color*/
}

:root .material-you{
/*main*/
	--color01: hsl(var(--color1));
	--color02: hsl(var(--color2));
	--color03: hsl(var(--color3));
	--color04: hsl(var(--color4));
/*opacity*/
    --opacity01: hsla(var(--color1), 0.9);
	--opacity02: hsla(var(--color2), 0.9);

	--opacity020a: hsla(var(--color2), 0.8);

	--opacity01a: hsla(var(--color1), 0.6);
	--opacity02a: hsla(var(--color2), 0.6);

	--opacity01b: hsla(var(--color1), 0.4);
	--opacity02b: hsla(var(--color2),0.4);

	--opacity01c: hsla(var(--color1), 0.2);
	--opacity02c: hsla(var(--color1), 0.2);

	--opacity03: hsla(var(--color3), 0.5);
	--opacity03a: hsla(var(--color3), 0.2);
}


:root{ /* DEV */
	--red: red;
	--none: none;
}

	/*~~~font~~~*/
html *{
    font-family: "Comfortaa"!important;
}

	/*~~~cursor~~~*/
html{
	cursor: url('https://cdn.discordapp.com/attachments/595306807795253258/1107955455436787722/pointer.cur'), default!important;
}
	/*~~~keyframes~~~*/
@keyframes menu-animation { 
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
