@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap%27'); /*font*/
  
  /*FVUI*/
:root{ /* Colors for users customization */
	--color1: 30, 40,  50;   /* Additional BG */
	--color2: 9,  18,  24;   /* Background */
	--color3: 35, 120, 200;  /* Blue */
	--color4: 63, 43,  150;  /* Gradient Color*/
	
	--text1: 174, 174, 174;  /*accent*/
	--text2: 107, 107, 107;  /*no accent*/
}

:root {
/*main*/
	--color01: rgb(var(--color1));
	--color02: rgb(var(--color2));
	--color03: rgb(var(--color3));
	--color04: rgb(var(--color4));
/*opacity*/
  	--opacity01: rgba(var(--color1), 0.9);
	--opacity02: rgba(var(--color2), 0.9);

	--opacity020a: rgba(var(--color2), 0.8);

	--opacity01a: rgba(var(--color1), 0.6);
	--opacity02a: rgba(var(--color2), 0.6);

	--opacity01b: rgba(var(--color1), 0.4);
	--opacity02b: rgb(var(--color2),0.4);

	--opacity01c: rgba(var(--color1), 0.2);
	--opacity02c: rgba(var(--color1), 0.2);

	--opacity03: rgba(var(--color3), 0.5);
	--opacity03a: rgba(var(--color3), 0.2);
/*text*/
   	--text01: rgb(var(--text1));
	--text02: rgb(var(--text2));
}

	/*~~~font~~~*/
html *{
    font-family: "Comfortaa";
}

	/*~~~cursor~~~*/
html{
	cursor: url('https://cdn.discordapp.com/attachments/595306807795253258/1107955455436787722/pointer.cur'), default;
}
	/*~~~keyframes~~~*/
@keyframes menu-animation { /*menu animation*/
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes fade-out { /*loadanim*/
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hide { /*hide loadanim */
to{
    display: none;
    pointer-events: none;
  }
}
@keyframes UserModalButtons { /*buttonanim*/
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
