
/*=============================================
=              Channels background            =
=============================================*/

/*---------- Settings  ----------*/

:root{
  --channel-border-radius:16px; /*Rounding*/
  --channel-background:var(--opacity01a); /*background color*/
  --channel-title-background: var(--opacity01a)
}

/*----------  Code  ----------*/
.containerDefault_f6f816{ /* channels bg*/
  background: var(--channel-background);
}

.containerDefault_a08117{ /* title */
  background: var(--channel-title-background);
  border-radius: var(--channel-border-radius) var(--channel-border-radius) 0 0;
  margin: 8px 0 0 8px;
  padding:0
}

.containerDefault_f6f816:first-of-type, /* first elements*/
[style="height: 12px;"]+:is(.containerDefault_f6f816, .link_d8bfb3),
[style="height: 12px;"]+.containerDefault_f6f816 .link_d8bfb3{ 
  border-radius: var(--channel-border-radius) var(--channel-border-radius) 0 0;
}

.link_d8bfb3{
  border-radius: inherit;
}

.containerDefault_f6f816:is(:not(:is(:has(+.containerDefault_f6f816)),:has(+div>.containerDefault_f6f816),:has(+.container_e1e976)),:has(+.containerDefault_a08117)), 
:is(.containerDefault_f6f816:hover, .selected_f6f816):has(+.containerDefault_a08117) .link_d8bfb3{
  border-radius: 0 0 var(--channel-border-radius) var(--channel-border-radius);
}

.containerDefault_f6f816{
  margin-left: 8px;
}
.containerDefault_f6f816  .wrapper_d8bfb3{
  margin: 0;
}

.containerDefault_f6f816:has(+.sectionDivider_c43953){
  border-radius: calc(var(--channel-border-radius)/2)!important;
}

.containerDefault_a08117:has(>.collapsed_a08117):not(:has(+.containerDefault_f6f816)){ 
  border-radius: calc(var(--channel-border-radius)/2);
}

.containerDefault_f6f816{
  border-radius: 0;
}
.container_e1e976:has(+.containerDefault_f6f816) .containerDefault_f6f816{
  border-radius: 0!important;
}
