/*=============================================
=            MemberList background            =
=============================================*/
:root{
    --ML-border-radius:16px; /* Rounding */
    --ML-member-background: var(--opacity01a); /* member color */
    --ML-role-background: var(--opacity02a); /* role color */
  }
  
  .member_aa4760{
    background: var(--ML-member-background)!important;
    border-radius: 0;
  }
  .membersGroup_cad095{
    background: var(--ML-role-background)!important;
  }
  
  .member_aa4760:has(+.membersGroup_cad095){
    border-radius: 0 0 var(--ML-border-radius) var(--ML-border-radius);
    margin-bottom: 10px;
  }
  .membersGroup_cad095:has(+.member_aa4760){
    border-radius: var(--ML-border-radius) var(--ML-border-radius) 0 0;
  }
  /*=====  End of Section MemberList background  ======*/