/*=============================================
=            MemberList background            =
=============================================*/
:root{
  --ML-border-radius:16px; /* Rounding */
  --ML-member-background: var(--opacity01a); /* member color */
  --ML-role-background: var(--opacity02a); /* role color */
}

#app-mount .member__5d473{
  background: var(--ML-member-background)!important;
  border-radius: 0;
  width: 100%;
  max-width: none;
  margin-left: 0;
}
.membersGroup_c8ffbb{
  background: var(--ML-role-background)!important;
  margin: 0px!important;

  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.member__5d473:has(+.membersGroup_c8ffbb){
  border-radius: 0 0 var(--ML-border-radius) var(--ML-border-radius)!important;
  margin-bottom: 10px;
}
.membersGroup_c8ffbb:has(+.member__5d473){
  border-radius: var(--ML-border-radius) var(--ML-border-radius) 0 0!important;
}
.memberInner__5d473{
  border-radius: inherit;
}
/*=====  End of Section MemberList background  ======*/
