:root{
	--FVUI: "FVUI";
	--warringdef: "Choose ONE of the suggested themes";
}
:root{
	--bg-overlay-3: var(--color02);
}
.wordmarkWindows__05c46::after { /*THEME-DARK*/
	left: 1%;
	color: red;
	content: var(--warring11)!important;
	font-size: 16px;
    font-weight: 900;
    position: fixed;
	filter: drop-shadow(0 0 10px currentColor);
}

.titleBar__01af6::after { /*THEME-DARK*/
	left: 1%;
	color: red;
    content: var(--warringmica);
	font-size: 16px;
    font-weight: 900;
    position: fixed;
	filter: drop-shadow(0 0 10px currentColor);
}
