/**
* @name Flow
* @author FeoreV
* @description Early beta test
* @version 0.0.1
* @authorId 489785940546551831
* @invite baEMQkgswT
*/

@import url(https://feorev.github.io/Themes/Discord/Flow/Preload.css);
@import url(https://feorev.github.io/Themes/Discord/Flow/Flow-Beta.css);
