
.pictureInPicture_d0596b:not(:has(.iframe_d5ef29)) {
	display        : flex;
	justify-content: center;
	align-items    : center;

	width  : 100%;
	height : 100%;
	z-index: 9999;

	font-size  : 60px;
	font-weight: bold;

	animation       : fade-out 2s ease-in-out forwards 0.5s, hide 2s linear forwards 1s;
	background-color: var(--opacity02a);
	backdrop-filter : blur(4px);
}
.pictureInPicture_d0596b:not(:has(.iframe_d5ef29))::after {
	position: absolute;

	content    : var(--Flow);
	font-size  : 150px;
	color      : var(--color03);
	text-shadow: 0 0 10px currentcolor, 0 0 20px currentcolor;
}
.pictureInPicture_d0596b:not(:has(.iframe_d5ef29))::before {
	position: absolute;
	top     : 95%;

	content  : var(--version);
	font-size: 30px;
	color    : var(--color03);
}


@keyframes fade-out {    /*loadanim*/
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}
@keyframes hide{    /*hide loadanim */
  to {
      display: none!important;
      pointer-events: none;
  }
}