/**
* @name !default
* @author ٴFeoreVٴ#3377
* @description default 
* @version  DEV
* @authorId 489785940546551831
*/

/*=============================================
=                    Data                     =
=============================================*/
:root{
	--subtheme: "FVUI";
	--warringdef: "Choose ONE of the suggested themes";
}

/*=============================================
=                    Alert                    =
=============================================*/

.wordmarkWindows_a934d8::after{
	position: absolute;
	left: 10px;

  	color: red;
	font-size: 16px;
  	font-weight: 900;
	filter: drop-shadow(0 0 10px currentColor);

	content: var(--warringmica, var(--warring11));
}


/*=============================================
=                    Code                     =
=============================================*/

:root{
	--bg-overlay-3: var(--color02)!important; /* optimis */
}
.sidebar_a4d4d9 { /* optimis */
    background: var(--color02);
}
