 @import url(https://feorev.github.io/Themes/Discord/PublicSnippets/ConnectionsColorizer.css);@import url(https://feorev.github.io/Themes/Discord/FVUI/Addons/Profile-customization.css); @import url('https://feorev.github.io/Themes/Discord/FVUI/Addons/Events/Events.css');
.wordmarkWindows__421ed > svg{
  display: none;
}
.wordmarkWindows__421ed::before{
  content: "Discord has been updated and all themes have been broken. Will be fixed within the day";
  font-family: "Comfortaa";
  font-size: 10px;
  width: 100vw;
  color: #fff;

  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5em;
  z-index: 100;
}
