@import url(https://feorev.github.io/Themes/Discord/assets/Themes/Core/lite.css)
@import url(https://feorev.github.io/Themes/Discord/assets/Themes/Core/full.css)
@import url(https://feorev.github.io/Themes/Discord/assets/Themes/Core/win11.css)