/*=============================================
=            ServerRings + HSL            =
=============================================*/
#app-mount .listItem_fa7b36, 
#app-mount .tutorialContainer_dc6fde,
#app-mount [id*="folder-items-"],
#app-mount .wrapper_ed1dea:not(:has(.collapsed__0a270)){
  width: fit-content!important;
  margin: 0 16px 0 0!important;
}
#app-mount .tutorialContainer_dc6fde,
#app-mount .tutorialContainer__890ea{
  width: 48px!important;
} 

#app-mount .listItem_fa7b36:has(.guildSeparator_dcb3cc){
  height: 32px!important;
  width: fit-content!important;
  margin: 8px 8px 0 !important;
}
#app-mount .guildSeparator_dcb3cc{
  width: 2px!important;
  height: 32px!important;
}



.listItem_fa7b36:has(.guildSeparator_dcb3cc) {
  width: 20px;
}  
/*=====  End of Section ServerRings + HSL  ======*/






/*=============================================
=                   MD + HSL                  =
=============================================*/
#app-mount .container__037ed>.wrapper_a7e7a8.guilds__2b93a{
	margin: var(--HSL_10px) var(--outlineMG);
	outline: 0;
	box-shadow: none;

	overflow: visible;
}
.tree__7a511{
	margin-left: calc(var(--outlineMG) * 2);
	border-radius: var(--outlineBR);

	outline: var(--outline) solid var(--outlineCLR);
	border-radius: var(--outlineBR)!important;
	box-shadow: 0 0 var(--outlineBS);
}
/*=====  End of Section MD + HSL  ======*/






/*=============================================
=                     HSL                    =
=============================================*/
[data-list-id="guildsnav"]>.scroller__3d071.none__3919e.scrollerBase__2b744{
  padding-top:15px;
}
.guilds__2b93a .scroller__3d071 {
  overflow: auto hidden !important;
}

.listItem_fa7b36 + [aria-label] {
  display: flex;
}

/*----------  Position  ----------*/

.guilds__2b93a {
  position: absolute;
  z-index: +1;
  height: 72px;
  width: 100vw;
}

.chat__52833,
.container_def45c,
.container__5c7e7,
.applicationStore_fc7d76,
.containerSidenav__2623a,
.sidebar_ded4b5{
  margin: var(--HSL);
}
.scroller__3d071.none__51a8f.scrollerBase_dc3aa9>.listItem_fa7b36 + [aria-label] {
  display: flex;
}
[id*="folder-items-"],
.wrapper_ed1dea {
  display: flex;
  width: fit-content !important;
}

/*----------  SL  ----------*/
.guilds__2b93a .scroller__3d071 {
  display: flex;
  overflow: scroll !important;
  padding: 10px;
}

.listItem_fa7b36, /* ! */
.tutorialContainer_dc6fde,
.tutorialContainer_dc6fde+.listItem_fa7b36 {
  width: 48px;
  height: 48px;
  margin-bottom: 0;
}
.listItem_fa7b36 { /* ! */
  flex-direction: column;
  margin-left: 8px;

}
/*----------  other  ----------*/
.expandedFolderBackground__1bec6 {
  width: calc(100% - 8px);
  height: 48px;
  top: 0;
  left: 8px;
}
.childWrapper__01b9c.acronym_cd4809{
  border-radius: 100%;
}
/* .tutorialContainer__890ea+.listItem_fa7b36{
  display: flex;
  flex-direction: column;
} */

/*=====  End of Section HSL  ======*/
